<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="add-product-form">
  <h2 class="form-title">Új termék hozzáadása</h2>

  <div class="progress-bar" [ngStyle]="{'width': calculateCompletionPercentage() + '%'}"></div>

  <div class="form-fields">
    <mat-form-field appearance="outline" class="animate-field">
      <mat-label>Termék neve</mat-label>
      <input matInput formControlName="name" placeholder="Add meg a termék nevét">
      <mat-icon matSuffix>shopping_bag</mat-icon>
      <mat-error *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">
        A termék neve kötelező.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="animate-field">
      <mat-label>Termék ára</mat-label>
      <input matInput type="number" formControlName="price" placeholder="Add meg a termék árát">
      <mat-icon matPrefix>monetization_on</mat-icon> <span matSuffix>Ft</span>
      <mat-error *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">
        Az ár kötelező, és legalább 1 Ft-nak kell lennie.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="animate-field"> <mat-label>Termék leírása</mat-label>
      <textarea matInput formControlName="description" placeholder="Add meg a termék leírását"></textarea>
      <mat-icon matSuffix>description</mat-icon>
      <mat-hint align="end">{{productForm.get('description')?.value?.length || 0}}/500 karakter</mat-hint>
      <mat-error *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched">
        A leírás kötelező.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="animate-field">
      <mat-label>Méretek</mat-label>
      <input matInput formControlName="size" placeholder="Add meg a termék méreteit (pl. 123123)">
      <mat-icon matSuffix>straighten</mat-icon>
      <mat-error *ngIf="productForm.get('size')?.invalid && productForm.get('size')?.touched">
        A méret csak számokat tartalmazhat.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="button-container">
    <button mat-raised-button type="submit" [disabled]="productForm.invalid" class="action-button add-button pulse-effect" aria-label="Termék hozzáadása">
      <div class="button-glow"></div> <mat-icon>add_circle</mat-icon> Hozzáadás
    </button>
    <button mat-raised-button type="button" (click)="goBack()" class="action-button back-button" aria-label="Vissza a főoldalra">
      <mat-icon>arrow_back</mat-icon> Vissza
    </button>
  </div>
</form>